<!-- START THE FEATURETTES -->
<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Iggies: <span class="text-muted">8:00pm Friday, July 29th</span></h2>
      <hr>
      <p class="lead">Let's all congregate for some drinks at Iggies Beach Bar (5 min cab ride). They have a wide range of food if you would like to eat there as well. </p>
      <p class="lead">Iggies Beach Bar- 7150 Bolongo ($8 cab ride from Marriott)</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "iggies.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Ceremony: <span class="text-muted">5:00pm Saturday, July 30th</span></h2>
      <hr>
      <p class="lead">The ceremony will be taking place on the beach next to Havana Blue. It's short walk from the Marriot, additionally you can take a shuttle from the hotel lobby.</p>
      <p class="lead">Havana Blue - 5 Estate Bakkeroe</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "hotel_2.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cocktail Hour: <span class="text-muted">5:30pm Saturday, July 30th</span></h2>
      <hr>
      <p class="lead">Following the ceremony there will be a cocktail hour at the SandBar, just below Havana Blue. The SandBar describes itself as "The ultimate beachfront grill and tropical sports lounge."</p>
      <p class="lead">Sandbar, Havana Blue - 5 Estate Bakkeroe</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "hotel_3.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Reception: <span class="text-muted">6:30pm Saturday, July 30th</span></h2>
      <hr>
      <p class="lead">The reception will take place at Havana Blue. Havana Blue is a beachside restaurant with excellent views overlooking the Caribbean and was declared one of the "Top 5 Beachside Restaurants in the Caribbean" by Caribbean Travel & Life Magazine.</p>
      <p class="lead">Second Floor, Havana Blue - 5 Estate Bakkeroe</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "hotel_3.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<!-- /END THE FEATURETTES -->
