<!-- START THE FEATURETTES -->
<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Gift Registry</h2>
      <p class="lead">Liz and Eric's registries can be found below.</p>
      <hr>
      <p class="lead"><%= link_to 'Macy\'s', 'http://www1.macys.com/registry/wedding/guest/?registryId=6553736' %></p>
      <p class="lead"><%= link_to 'Crate and Barrel', 'http://www.crateandbarrel.com/gift-registry/elisabeth-salvi-and-eric-pruden/r5492458' %></p>
      <p class="lead"><%= link_to 'West Elm', 'https://secure.westelm.com/registry/ct95sns7dr/registry-list.html' %></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "http://cdn1.projectwedding.com/1375097927_3c4572c7f75b61538f0f5077a57f36e8", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<!-- /END THE FEATURETTES -->