/*
Place all the styles related to the Pages controller here.
They will automatically be included in application.css.
*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #DDD;
}

#cover-image .img-container {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

#cover-image img {
  float: none;
  position: static;
  width: 100%;
  margin-top: -125px;
  margin-left: -50px;
}

#image-2 {
  overflow: hidden;
}

#image-2 .img-container {
  transform: rotate(95deg);
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  padding-top: -200px;
}

#image-2 img {
  width: 100%;
}

#image-3 {
  overflow: hidden;
}

#image-3 .img-container {
  transform: rotate(-4deg);
  width: 400px;
  height: 600px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#image-3 img {
  width: 100%;
}
