/*
Place all the styles related to the Pages controller here.
They will automatically be included in application.css.
*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.notice-container {
  position: relative;
  z-index: 100;
  margin-top: 75px;
  margin-bottom: -75px;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin-top: 3px;
  margin-bottom: 3px;
}

.navbar-header h1 {
  color: #777
}

#cover-image .img-container {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

#cover-image img {
  float: none;
  position: static;
  width: 100%;
  margin-top: -125px;
  margin-left: -50px;
}

#image-2 {
  height: 500px;
  overflow: hidden;
}

#image-2 .img-container {
  transform: rotate(95deg);
  width: 450px;
  height: 400px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#image-2 img {
  width: 600px;
  margin-top: -75px;
  margin-left: -50px;
}

#image-3 {
  height: 500px;
  overflow: hidden;
}

#image-3 .img-container {
  transform: rotate(-4deg);
  width: 400px;
  height: 450px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#image-3 img {
  margin-top: 0px;
  margin-left: -50px;
  width: 100%;
}
