/*
Place all the styles related to the Pages controller here.
They will automatically be included in application.css.
*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.lead {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

.rsvp-form {
  margin: 0 auto;
}

.container .navbar-inverse {
  color: white;
  background-color: #40A0D0;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li:hover {
  background-color: #2070A0;
}

.navbar-inverse .navbar-nav>li.ctive {
  background-color: #2070A0;
}

.notice-container {
  position: relative;
  z-index: 100;
  margin-top: 75px;
  margin-bottom: -135px;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin-top: 3px;
  margin-bottom: 3px;
}

.navbar-header h1 {
  color: white;
  line-height: 38px;
  font-size: 25px;
}

#cover-image .img-container {
  width: 500px;
  margin: 0 auto;
  border: 5px solid white;
  margin-top: 100px;
}

#cover-image img {
  float: none;
  position: static;
  width: 100%;
}

#image-2 {
  height: 500px;
}

#image-2 .img-container {
  border: 5px solid white;
  width: 325px;
  height: 400px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#image-2 img {
  width: 350px;
  margin-top: -75px;
}

#image-3 {
  height: 500px;
}

#image-3 .img-container {
  border: 5px solid white;
  width: 320px;
  height: 400px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#image-3 img {
  margin-top: -20px;
  margin-left: -30px;
  width: 350px;
}
