/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
form {
  padding: 25px;
  padding-top: 0px;
}
.form-group label {
  display: block;
}
.form-group label::after {
  content: ':';
}
.center-block {
  margin: 0 auto;
  text-align: center;
}
table {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
tbody {
  display: inline-block;
  margin: 0 auto;
}
td {
  text-align: left;
}
.remove-guest {
  display: inline-block;
  margin-left: 10px;
  color: #C00;
}
.remove-guest:hover {
  cursor: pointer;
}
