/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
form {
  padding: 25px;
  padding-top: 0px;
}
.form-group label {
  display: block;
}
.form-group label::after {
  content: ':';
}
.center-block {
  margin: 0 auto;
  text-align: center;
}
#guest-list {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
#guest-list tbody {
  display: inline-block;
  margin: 0 auto;
}
#guest-list td {
  text-align: left;
}
.remove-guest {
  display: inline-block;
  margin-left: 10px;
  color: #C00;
}
.remove-guest:hover {
  cursor: pointer;
}

#reservations {
  margin: 0 auto;
  border: 1px solid grey;
  width: 100%;
}

#reservations td {
  margin: 0 auto;
  padding: 5px;
}
#reservations th {
  margin: 0 auto;
  padding: 5px;
  background-color: grey;
  cursor: pointer;
}
